<div class="card dish-card border-light">
  <img class="dish-card-img" src="<%=mealkit.imageUrl%>" alt="product-image" />
  <div class="card-footer border-top border-light p-4">
    <h4 class="card-title"><%=mealkit.title%></h4>
    <p class="font-weight-light text-gray mt-2"><%=mealkit.description%></p>

    <div class="d-flex mt-3">
      <% for(let i = 1; i < 6; i++) {%> 
        <%if (i <= mealkit.rating ) { %>
      <i class="star fas fa-star text-warning mr-1"></i>
      <%} else if (i - mealkit.rating < 0.5 ){%>
      <i class="fas fa-star-half-alt text-warning"></i>
      <%}else{%>
      <i class="fa-regular fa-star text-warning"></i>
      <%}}%>
      <span
        class="ml-2 rounded-pill bg-secondary text-light px-2 small text-sm"
        style="margin-left: 5px"
        ><%=mealkit.rating%></span
      >
    </div>
    <div class="card-bct">
      <span class="card-bct-price h5 mb-0 text-gray">$<%=mealkit.price%></span>
    
        <% if(role == 'data-clerk') { %>
        <a
          class="btn btn-xs card-edit"
          id="log-in"
          href="/mealkits/edit/<%=mealkit._id%>"
        >
          <i class="bi bi-pen"></i>
        </a>
        <a
          class="btn btn-xs card-trash"
          id="log-in"
          href="/mealkits/remove/<%=mealkit._id%>"
        >
          <i class="bi bi-trash"></i>
        </a>

        <%} else { %>
        <button type="button" class="btn btn-xs" id="log-in" onclick="window.location.href='/cart/add/<%=mealkit._id%>'">
          <span class="fas fa-cart-plus mr-2"></span> Add to cart
        </button>
        <%}%>

    </div>
  </div>
</div>
